.content-mapa{
    display: block;
    width: 100%;
    background: #fff;
    .conten-mapa--item{
        display: block;
        overflow: hidden;
        height: 300px;
        background: grey;
        position: relative;
    }
    .content-mapa--info{
        padding: 10px 20px;
    }
}

ion-list, ion-item{
    font-size: 14px;
    ion-icon{
        width: 15px;
    }
    font-size: 14px;
}

ion-card{
    box-shadow: -10px 7px 23px rgba(23, 101, 252, .15);
}

ion-content {
    #map {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
  }

.plus-link{
    padding: 10px 0;
    display: block;
}

  
ion-thumbnail{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        display: block;
    }
}