<ion-header class="ion-no-border">
	<ion-toolbar color="primary" no-border>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	  <ion-title>
		Tienda
	  </ion-title>
	  <ion-buttons slot="end">
		<ion-menu-button menu="first">
		  <img src="../../assets/menu.svg" />
		</ion-menu-button>
	  </ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content>
	<!-- <div id="map" #map></div> -->
	<div class="content-mapa">
		<div class="conten-mapa--item">
			<ion-thumbnail>
				<img src="https://depor.com/resizer/tWkgaFkRSfQvJrxQJP3zxVe35K4=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DOSTJYG5PVBK3ELX3UXALXJYPQ.jpg" alt="">

			</ion-thumbnail>
		</div>
		<div class="content-mapa--info">
			<ion-label>
				<h2>Easy Quilín</h2>
				<p>Av. Pdte. Kennedy 9001, 1132, Santiago, Las Condes, Región Metropolitana, Chile</p>
				<p>Horario: 09:00 a 21:00 horas</p>
				<a href="#" class="plus-link">Ver más horarios</a>
				<ion-button color="success" expand="block" mode="ios">
					¿Cómo llegar?
				</ion-button>
				<ion-button color="secondary" expand="block" mode="ios">
					Ver Mapa
				</ion-button>
			</ion-label>
		</div>
	</div>
	<ion-card>
		<ion-list>
			<ion-item>
				<ion-icon name="bag-check-outline" slot="start"></ion-icon>
					Mis compras
				<ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
			</ion-item>
			<ion-item>
				<ion-icon name="bag-check-outline" slot="start"></ion-icon>
					Mis compras
				<ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
			</ion-item>
			<ion-item>
				<ion-icon name="bag-check-outline" slot="start"></ion-icon>
					Mis compras
				<ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
			</ion-item>
			<ion-item>
				<ion-icon name="bag-check-outline" slot="start"></ion-icon>
					Mis compras
				<ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
			</ion-item>
		</ion-list>
	</ion-card>
	
</ion-content>
