<!-- <ion-header >
  <ion-toolbar color="me" mode="ios">
    <ion-menu-button menu="first" slot="start"></ion-menu-button>
    <ion-title>
       Catálogo
    </ion-title>


  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
   
    <ion-buttons slot="start">
      <ion-button>
        <img src="../../assets/notification.svg" />
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      Inicio
    </ion-title>
   
    <ion-buttons slot="end">
      <ion-menu-button menu="first">
        <img src="../../assets/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <div class="ion-search-content">
    <div class="container">
      <ion-label>Encuéntra categorías o productos, además todo lo que necesites</ion-label>
      <ion-searchbar placeholder="¿Qué estás buscando?"></ion-searchbar>
    </div>
  </div> -->
  <div class="banner">
    <img src="../../assets/banner.svg" />

    <div class="caption ion-padding">
      Encuéntra <br>
      categorías o productos
    </div>

    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-input placeholder="¿Qué estás buscando?"></ion-input>
        <ion-button slot='end'>
          <img src="../../assets/filter.svg" />
        </ion-button>
      </ion-item>
    </div>
  </div>
  <ion-slides>
    <ion-slide class="slide-1">
      <ion-img src="https://media.easy.cl/is/image/EasySA//Banner12042022--5M"></ion-img>
    </ion-slide>
    <ion-slide class="slide-2">
      <ion-img src="https://latagroup.cl/home-easy/assets/23032022/Banner23032022--2M.png"></ion-img>
    </ion-slide>
    <ion-slide class="slide-3">
      <ion-img src="https://latagroup.cl/home-easy/assets/23032022/Banner23032022--3M.png"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-grid>  
    <ion-row>

      <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/home-easy/assets/23032022/Caluga23032022--1.png">
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/home-easy/assets/23032022/Caluga23032022--2.png">
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
            <img src="https://latagroup.cl/home-easy/assets/23032022/Caluga23032022--16.png">
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
            <img src="https://media.easy.cl/is/image/EasySA/SAE_mobilehome">
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
            <img src="https://media.easy.cl/is/image/EasySA/Paga-tarjetaM">
        </ion-card>
      </ion-col>

      
      <!-- Card -->
      <!-- <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/app-me/Caluga23032022--4.png">
            <ion-card-header>
              <ion-card-subtitle>Herramientas Eléctricas</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/app-me/Caluga23032022--5.png">
            <ion-card-header>
              <ion-card-subtitle>Cemento, áridos y morteros</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/app-me/Caluga23032022--4.png">
            <ion-card-header>
              <ion-card-subtitle>Arcilla y Hormigón</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/app-me/Caluga23032022--5.png">
            <ion-card-header>
              <ion-card-subtitle>Aditivos e impermiables</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
    

</ion-content>
