ion-card{
    box-shadow: -10px 7px 23px rgba(23, 101, 252, .15);
}

// ion-searchbar{
//     box-shadow: -10px 7px 23px rgba(23, 101, 252, .15);
// }

ion-toolbar{
    background-color: var(--ion-color-primary);
    ion-menu-button, ion-title{
        color: #fff;
    }
}


ion-thumbnail{
    width: 100%;
    height: 150px;
}


ion-grid{
    margin: 8px 5px 7vh 5px;
}

ion-slides{
    padding-top: 5vh;
}
.slide-1, .slide-2, .slide-3{
    background: red;
    height: 100%;
    img{
        width: 100%;
        display: block;
    }
}

.slide-2{
    background: blue;
}

.slide-3{
    background: black;
}


.ion-search-content{
    background-color: var(--ion-color-primary);
    padding: 30px 0 10px 0;

    ion-label{
        padding: 0 10px;
        color: white;
        display: block;
    }

   
}

.searchbar-input.sc-ion-searchbar-ios{
    --background-color: #fff !important;
}





ion-content{
    .banner {
        position: relative;
    
        img {
          width: 100%;
        }
    
        .caption {
          position: absolute;
          width: 100%;
          bottom: 55px;
          font-size: 26px;
          color: white;
          padding-left: 26px;
          padding-right: 26px;
        }
    
        .search {
          position: absolute;
          bottom: -40px;
          width: calc(100% - 52px);
          background: white;
          margin: 16px 26px 16px 26px;
          padding: 5px 16px 5px 16px;
          border-radius: 10px;
          box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);
    
          ion-item {
            --inner-padding-end: 0 !important;
    
            ion-input {
              --placeholder-color: #212121 !important;
              --placeholder-opacity: 0.5;
              --color: #21212150 !important;
            }
    
            ion-icon {
              color: #21212150 !important;
              margin-right: 10px;
            }
    
            ion-button {
              height: 35px;
              margin-right: 0 !important;
              --box-shadow: none;
    
              img {
                transform: rotateZ(90deg);
              }
            }
          }
        }
      }
}