body{
    --background: #fff;
  }
  .contentLogo{
    position: absolute;
    top: 7%;
    width: 40%;
    transform: translateX(-50%);
    left: 50%;
    img{
        display: block;
    }
  }
  .top-header{
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    svg{
        width: 100%;
        height: auto;
        position: relative;
        // top: 3px;
    }
  }
  
  .content-login{
    margin: 50% auto 0 auto;
    display: block;
    // padding: 20px;
  
    ion-item-divider{
       margin: 20px auto;
       display: block;
       width: 100%;
    }
  }
  ion-card{
    width: 80%;
    margin: 30px auto;
    border-radius: 20px;
    padding: 20px;
    --background: #fff;
    display: block;
  
    ion-card-header{
        margin-bottom: 20px;
        ion-card-title{
            --color: #181818;
            font-weight: lighter;
        }
    }
  }
  
  ion-item{
    --padding: 0;
    --background: #fff;
    margin-bottom: 10px;
    --padding-left: 0;
    .item-inner{
        padding: 0;
    }
  }
  
  .form{
    ion-input{
        padding: 5px 5px !important;
        border: 1px solid #f9f9f9;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 16px;
        box-sizing: border-box;
        border-radius: 10px;
        --color: #686868;
        font-weight: bold;
        height: 55px;
        width: 100%;
        font-weight: 400;
        border: 1px solid #e6e6e6;
        --background: #fff;
        font-size: 13px;
    }
    ion-label{
        --color: #181818;
        margin-bottom: 7px;
        width: 100%;
        // display: block;
    }
  
    .SendLogin{
        background-color:#282828;
        width: 100%;
        height: 45px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 16px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 13px;
        margin-top: 20px;
    }
    .password{
        background: transparent;
        width: 100%;
        text-align: center;
        font-size: 13px;
        color: rgb(11, 178, 255);
    }
  }
  
  .button-register{
    ion-item{
        --background: transparent;
    }
    button{
        background: #E20613;
        width: 100%;
        height: 50px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 16px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 13px;
        margin: 20px auto;
        max-width: 70%;
    }
  }
  