
<ion-content>
  <div class="top-header">
      <svg style="top:1px;">
        <rect x="0" y="0" width="100%" height="180"  fill="url(#grad1)" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="top: -4px;">
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(23, 25, 26);stop-opacity:1;" />
            <stop offset="25%" style="stop-color:rgb(32, 33, 34);stop-opacity:1;" />
            <stop offset="53%" style="stop-color:rgb(41, 42, 43);stop-opacity:1;" />
            <stop offset="78%" style="stop-color:rgb(51, 51, 51);stop-opacity:1;" />
            <stop offset="100%" style="stop-color:rgb(60, 60, 60);stop-opacity:1;" />
          </linearGradient>
        </defs>
        <path fill="url(#grad1)" fill-opacity="1" d="M0,160L60,176C120,192,240,224,360,224C480,224,600,192,720,202.7C840,213,960,267,1080,256C1200,245,1320,171,1380,133.3L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
      </svg>
  </div>
  <div class="contentLogo">
    <ion-img src="../assets/logo-no-back.svg"></ion-img>
  </div>

  
  <div class="content-login">
    <ion-item-divider class="ion-no-padding">
      <ion-card mode="ios">
        <ion-card-header class="ion-no-padding">
          <ion-card-title>Bienvenido a la Guía del Experto</ion-card-title>
          <p>SI ya tienes una cuenta Ingresa con tu usuario y contraseña</p>
        </ion-card-header>
        <div class="form">
          <!-- <div no-lines>
            <div class="error"> 1</div>
          </div> -->
          <form>
            <ion-item lines="none"  class="ion-no-padding">
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="text" placeholder="nombre@tudominio.com"></ion-input>
            </ion-item>
            <!-- <div class="error"> 1</div>
            <div class="error"> 1</div> -->
            <ion-item lines="none"  class="ion-no-padding">
              <ion-label position="stacked">Password</ion-label>
              <ion-input type="password" placeholder="*****"></ion-input>
            </ion-item>
            <!-- <div class="error"> 1</div>
            <div class="error"> 1</div> -->

            <ion-item lines="none"  class="ion-no-padding">
              <button ion-button type="submit" class="SendLogin">Ingresar</button>
            </ion-item>
            <ion-item lines="none"  class="ion-no-padding">
              <button ion-button type="submit" class="SendLogin">Ingresar como invitado</button>
            </ion-item>
            <button class="password" type="submit" routerLink="/recover-password">¿No recuerdas tu contraseña?</button>
          </form>
        </div>
      </ion-card>
    </ion-item-divider>

    <div class="button-register">
      <ion-item lines="none" class="ion-no-padding" >
        <button ion-button type="submit" routerLink="/register">Inscríbete</button>
      </ion-item>
    </div>
  </div>


</ion-content>
