<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">
  <!-- -------------------Custom Tabs with fab button------------------------------- -->
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button (click)="goToCategories()">
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon [name]="selectTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>


    <ion-tab-button tab="tab2" class="search">
      <ion-icon [name]="selectTab == 'qr-code-outline' ? 'qr-code-outline' : 'qr-code-outline'"></ion-icon>
    </ion-tab-button>
    
    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" 
        fill="red" fill-rule="evenodd">
      </path>
    </svg>

    <ion-tab-button tab="tab3" class="wishlist">
      <ion-icon [name]="selectTab == 'wishlist' ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon [name]="selectTab == 'profile' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>