ion-tabs {

    // --------------Custom Semi Transparent & Rounded Tabs----------------------
    ion-tab-bar {
        position: absolute;
        bottom: 0;
        width: 100%;        
        --background: transparent;
        border-radius: 20px 20px 0 0;
        --border: 0;
        ion-tab-button {
            --background: var(--ion-color-primary);
            --color: var(--ion-color-light);
            --color-selected: var(--ion-color-medium);
            ion-icon {
                font-size: 1.5rem;

               
            }
        }
    }
    svg {
        width: 78px;
        margin-top: 16px;
        path {
            fill: var(--ion-color-primary);
        }
    }

    ion-tab-button.search {
        margin-right: -1px;
        margin-left: -2px;
        border-top-right-radius: 20px;
    }
    ion-tab-button.wishlist {
        margin-left: -1px;
        margin-right: -2px;
        border-top-left-radius: 20px;
    }
    ion-fab {
        ion-fab-button {
            --background: linear-gradient(to top, #222428, #24262b, #26292e, #292b31, #2b2e34);
            ion-icon {
                font-size: 2rem;
            }
        }
    }
}
