<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
   
    <ion-buttons slot="start">
      <ion-button>
        <img src="../../assets/notification.svg" />
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      Guía del Experto
    </ion-title>
   
    <ion-buttons slot="end">
      <ion-menu-button menu="first">
        <img src="../../assets/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-toolbar>
    <ion-avatar>
      <img src="https://latagroup.cl/app-me/avatar.png">
    </ion-avatar>
    <ion-text>
      <h1>Super Mario Bros</h1>
      <span class="date-profile">
        <ion-icon name="navigate-outline"></ion-icon>
        <p>Providencia</p>
      </span>
      <!-- <ion-row>
        <ion-col>
          <span class="date-profile">
            <ion-icon name="navigate-outline"></ion-icon>
            <p>Providencia</p>
          </span>
        </ion-col>
      </ion-row> -->
    </ion-text>
    <div class="btnRegistrar">
      <a routerLink="/profile-edit">Editar perfil</a>
    </div>
  </ion-toolbar>
<ion-card>

  <!-- List of Text Items -->
  <ion-list class="bg-transparent">
    <ion-item detail class="item-background-color" (click)="changePage('my-shopping')">
      <button>
        <ion-icon name="basket" color="primary"></ion-icon>
        <ion-label>Mis compras</ion-label>
      </button>
    </ion-item>
    <ion-item detail class="item-background-color" (click)="changePage('project-draft')">
      <button>
        <ion-icon name="star" color="secondary"></ion-icon>
        <ion-label>Certificaciones</ion-label>
      </button>
    </ion-item>
    <ion-item detail class="item-background-color" (click)="changePage('profile-shared-cart')">
      <button>
        <ion-icon name="image" color="tertiary"></ion-icon>
        <ion-label>Tienda más cercana</ion-label>
      </button>
    </ion-item>
    <ion-item detail class="item-background-color" routerLink="/repository">
      <button>
        <ion-icon name="folder-open" color="success"></ion-icon>
        <ion-label>Productos Guardados</ion-label>
      </button>
    </ion-item>
    <ion-item detail class="item-background-color" routerLink="['/terminos']">
      <button>
        <ion-icon name="reader" color="danger"></ion-icon>
        <ion-label>Términos de uso</ion-label>
      </button>
    </ion-item>
    <ion-item detail class="item-background-color" routerLink="/privacy">
      <button>
        <ion-icon name="shield" color="warning"></ion-icon>
        <ion-label>Politicas de Privacidad</ion-label>
      </button>
    </ion-item>
    <ion-item detail lines="none" class="item-background-color" routerLink="/about-us">
      <button>
        <ion-icon name="people" color="dark"></ion-icon>
        <ion-label>#Somos</ion-label>
      </button>
    </ion-item>
  </ion-list>
</ion-card>

<ion-card class="logout-content">
  <ion-list class="bg-transparent">
    <ion-item (click)="logout()" lines="none" detail class="item-background-color">
      <button>
         <ion-icon name="exit" color="primary"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </button>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
