ion-content{
	--ion-background-color: #f5f6fa;
}

ion-card{
	padding: 20px 10px;
	background-color: #fff;
    box-shadow: -10px 7px 23px rgba(23, 101, 252, .15);
}


ion-avatar{
	margin: 30px auto 12px auto;
	border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

ion-avatar > img{
	border: 5px solid #fff;
}

.date-profile{
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
	justify-content: center;

	ion-icon{
		margin-right: 10px;
	}
}

.logout-content{
    padding: 0 !important;
}

ion-toolbar{
    background-color: var(--ion-color-primary);
    ion-menu-button, ion-title{
        color: #fff;
    }
}
ion-content ion-toolbar {
//   --background: translucent;
     --background: linear-gradient(to right top, #17191a, #202122, #292a2b, #333333, #3c3c3c);

  ion-text{
  	h1{
		font-size: 25px;
		font-weight: normal;
		text-align: center;
		color: #fff;
		// margin: 0 0 20px 0;
  	}
  }

  .btnRegistrar{
	a{
		display: block;
		margin: auto;
		margin-top: auto;
		background: #383a3e;
		text-decoration: none;
		text-align: center;
		line-height: 50px;
		height: 50px;
		width: 50%;
		border-radius: 30px;
		color: #fff;
		font-size: 13px;
		letter-spacing: 1px;
		margin-bottom: 20px;
		font-weight: bold;
		text-transform: uppercase;
		box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
		}
	}
}

.item-background-color{
    --ion-item-background:#fff;
}

ion-list{
	ion-item{
		// --ion-item-border-color: var(--ion-color-light);
		// // patch: i need this to override md mode.
		// --border-color: var(--ion-color-light);
		--border-color: rgb(222, 222, 222);
		button{
			display: flex;
			background: transparent;
			align-items: center;
			ion-icon{
				font-size: 20px;
				margin-right: 15px;
			}
			ion-label{
				font-size: 15px;
				color: #999898;
			}
		}
	}
}

.bg-transparent {
	background: transparent;
}

ion-grid ion-row ion-col{

	button{
		width: 100%;
		height: 4rem;
		border-radius: 5px;

		ion-label{
			font-size: 10px;
		}
		ion-icon{
			display: block;
			margin: 0 auto;
		}
	}

}

.twoBtn{
	display: block;
	width: 95%;
	margin: 0 auto;

	button{
		width: 100%;
		margin: 0 auto;
		display: block;
		height: 40px;
		text-align: left;

		ion-icon{
			margin: -2px;
			margin-left: 10px;
			margin-right: 10px;
		}

		&:nth-child(1){
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom: 1px solid #d0d0d099;
		}
		&:nth-child(2){
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}

.oneBtn{
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;

	button{
		width: 100%;
		margin: 0 auto;
		display: block;
		height: 40px;
		border-radius: 5px;
		text-align: left;

		ion-icon{
			margin: -2px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}



ion-title{
	ion-img{
		width: 65px;
		margin: 0 auto;
	}
}
