<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
   
    <ion-buttons slot="start">
      <ion-button>
        <img src="../../assets/notification.svg" />
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      Notificaciones
    </ion-title>
   
    <ion-buttons slot="end">
      <ion-menu-button menu="first">
        <img src="../../assets/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
