ion-card{
    box-shadow: -10px 7px 23px rgba(23, 101, 252, .15);
}
.searchbar-input.sc-ion-searchbar-ios{
    --background-color: #fff !important;
}

.ion-search-content{
    background-color: var(--ion-color-primary);
    padding: 30px 0 10px 0;

    ion-label{
        padding: 0 10px;
        color: white;
        display: block;
    }

   
}

ion-toolbar{
    background-color: var(--ion-color-primary);
    ion-menu-button, ion-title{
        color: #fff;
    }
}