<ion-header >
  <ion-toolbar color="me" mode="ios">
    <ion-menu-button menu="first" slot="start"></ion-menu-button>
    <ion-title>
       Categorías
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="ion-search-content">
    <div class="container">
      <ion-label>Encuéntra categorías o productos, además todo lo que necesites</ion-label>
      <ion-searchbar placeholder="¿Qué estás buscando?"></ion-searchbar>
    </div>
  </div>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <ion-grid>  
    <ion-row>
      <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/app-me/Caluga23032022--4.png">
            <ion-card-header>
              <ion-card-subtitle>Herramientas Eléctricas</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/app-me/Caluga23032022--5.png">
            <ion-card-header>
              <ion-card-subtitle>Cemento, áridos y morteros</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/app-me/Caluga23032022--4.png">
            <ion-card-header>
              <ion-card-subtitle>Arcilla y Hormigón</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
            <img src="https://latagroup.cl/app-me/Caluga23032022--5.png">
            <ion-card-header>
              <ion-card-subtitle>Aditivos e impermiables</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col> 


    </ion-row>
  </ion-grid>  
</ion-content>
