ion-toolbar{
    p{
        padding: 0 20px;
        font-size: 14px;
    }
    ion-title{
        padding: 10px 20px;
    }
}

ion-menu{
   
    ion-list, ion-item{
        font-size: 14px;
        ion-icon{
            width: 15px;
        }
        font-size: 14px;
    }
}

.badge{
    background: var(--ion-color-me);
    padding: 2px 5px;
    border-radius: 6px;
    color: #fff;
}
