<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Bienvenido</ion-title>
      <p>Con tu cuenta de Easy puedes tener una complea experiencia de compra.</p>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://latagroup.cl/app-me/avatar.png">
        </ion-avatar>
          <ion-label>
            <h2>Super Mario Bross</h2>
            <p><span class="badge">Preferente</span></p>
          </ion-label>
          <ion-badge color="success" slot="end"><ion-icon name="shield-checkmark-outline"></ion-icon></ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name="bag-check-outline" slot="start"></ion-icon>
            Mis compras
        <ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
        <ion-item>
          <ion-icon name="apps-outline" slot="start"></ion-icon>
            Categorías
        <ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
        <ion-item>
          <ion-icon name="construct-outline" slot="start"></ion-icon>
            Mundo Experto
        <ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
        <ion-item>
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            Centro de ayuda
        <ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
        <ion-item>
          <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
            Puntos cencosud
        <ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
        <ion-item>
          <ion-icon name="videocam" slot="start"></ion-icon>
            Capacitación
        <ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="goToStore()">
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
            Tiendas
        <ion-icon size="small" name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> 