ion-header {
    position: absolute;
  
    ion-toolbar {
      padding-left: 14px;
      padding-right: 14px;
  
      ion-title {
        --color: white;
        font-size: 18px;
      }
    }
  }
  
  .default-left-padding {
    padding-left: 26px;
  }
  
  .default-top-padding {
    padding-top: 26px !important;
  }
  
  ion-content {
    .banner {
      position: relative;
  
      img {
        width: 100%;
      }
  
      .caption {
        position: absolute;
        width: 100%;
        bottom: 55px;
        font-size: 26px;
        color: white;
        padding-left: 26px;
        padding-right: 26px;
      }
  
      .search {
        position: absolute;
        bottom: -40px;
        width: calc(100% - 52px);
        background: white;
        margin: 16px 26px 16px 26px;
        padding: 5px 16px 5px 16px;
        border-radius: 10px;
        box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);
  
        ion-item {
          --inner-padding-end: 0 !important;
  
          ion-input {
            --placeholder-color: #212121 !important;
            --placeholder-opacity: 0.5;
            --color: #21212150 !important;
          }
  
          ion-icon {
            color: #21212150 !important;
            margin-right: 10px;
          }
  
          ion-button {
            height: 35px;
            margin-right: 0 !important;
            --box-shadow: none;
  
            img {
              transform: rotateZ(90deg);
            }
          }
        }
      }
    }
  
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 42px 26px 16px 26px;
  
      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        color: #364F6B;
      }
  
      p {
        margin: 0;
        font-size: 14px;
        color: var(--ion-color-primary);
      }
    }
  
    .event-slider {
      ion-slide {
        width: 60%;
        margin-right: 30px;
  
        ion-col {
          padding-left: 0;
  
          ion-card {
            width: 100%;
            border-radius: 12px;
            box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
            margin-left: 0;
            margin-top: 0;
  
            ion-card-header {
              img {
                width: 100%;
              }
            }
  
            ion-card-content {
              padding-top: 13px;
  
              .date {
                color: #364F6B;
                font-size: 10px;
                margin-bottom: 5px;
              }
  
              .eventname {
                color: #364F6B;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
              }
  
              .location {
                display: flex;
                align-items: center;
                color: var(--ion-color-primary);
                font-size: 10px;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  
    .live-event {
      border-radius: 10px;
      box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.16);
      margin: 0 26px 26px 26px;
      display: flex;
      justify-content: space-between;
  
      img {
        border-radius: 10px 0 0 10px;
        object-fit: cover;
      }
  
      .info {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
  
        .content {
          h6 {
            color: #364F6B;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 0px;
          }
  
          .location {
            display: flex;
            align-items: center;
            color: var(--ion-color-primary);
            font-size: 10px;
            margin-bottom: 5px;
            margin-top: 0;
          }
  
          .stats {
            display: flex;
            margin-bottom: 5px;
            margin-top: 0;
  
            span {
              display: flex;
              align-items: center;
              color: #364F6B80;
              font-size: 10px;
              margin-right: 10px;
            }
          }
        }
  
        .indicator {
          display: flex;
          justify-content: center;
          align-items: center;
  
          div {
            background: #FFE6E6;
            border-radius: 12px;
            padding: 15px;
            color: var(--ion-color-primary);
          }
        }
      }
    }
  }
  

  .additional-info {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  
    .attendees {
      position: relative;
  
      img {
        width: 25px;
        height: 25px;
      }
  
      img:nth-child(2) {
        position: absolute;
        left: 16px;
        z-index: 1;
      }
  
      img:nth-child(3) {
        position: absolute;
        left: 30px;
        z-index: 2;
      }
  
      img:nth-child(4) {
        position: absolute;
        left: 44px;
        z-index: 3;
      }
  
      .count {
        position: absolute;
        left: 58px;
        top: 0;
        z-index: 4;
        width: 25px;
        height: 25px;
  
        p {
          color: white;
          position: absolute;
          top: 6px;
          left: 6px;
          z-index: 5;
          font-size: 9px;
          font-weight: bold;
          margin: 0;
        }
      }
    }
  
    .time {
      font-weight: bold;
      color: #364F6B;
    }
  }